conf/setup.conf
simlog.node*
sunflower.out

#
#	Binaries
#
*.o
*.a
*.sr
*.map
init.i
sf

#
#	Built cross compiler binaries
#
tools/bin
tools/superH

#
#	Downloaded sources
#
tools/source/*

#
#       Tags
#
sim/GPATH
sim/GRTAGS
sim/GTAGS
#
#       WIP
#
sim/arm/

